<mat-toolbar color="primary">
  <span>Welcome to {{title}}!</span>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color="accent"
          *ngIf="oktaAuth.isAuthenticated()"
          (click)="oktaAuth.logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>

<div *ngIf="oktaAuth.isAuthenticated()">
  <app-car-list></app-car-list>
</div>

<mat-card>
  <mat-card-content>
    <button mat-raised-button color="accent"
            *ngIf="!oktaAuth.isAuthenticated()"
            (click)="oktaAuth.loginRedirect()">Login</button>

  </mat-card-content>
</mat-card>
